{% extends 'app/dashboard.html' %}

{% block title %}    
<title>Śladzik</title>
{% endblock %}


{% block content_dashboard %}

<div class="container-fluid">
<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card bg-transparent text-light border border-primary rounded-3">
      <div class="card-header">
        <h5 class="card-title">MINI99001</h5>
        <h6 class="card-subtitle mb-2">ID: ABC123</h6>
      </div>
      <div class="card-body">
      
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer text-body-secondary p-3">
    <button type="button" class="btn btn-primary">Odczyty</button>
    <button type="button" class="btn btn-primary">Info</button>


      </div>
    </div>

  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
</div>



{% endblock %}